include include/kdl/config.h
include kdl/*.hpp
include kdl/*.inl
include kdl/utilities/*.h
include kdl/utilities/*.hpp
include orocos_kinematics_dynamics/orocos_kdl/src/*.cpp
include orocos_kinematics_dynamics/orocos_kdl/src/*.hpp
include orocos_kinematics_dynamics/orocos_kdl/src/*.inl
include orocos_kinematics_dynamics/orocos_kdl/src/utilities/*.cpp
include orocos_kinematics_dynamics/orocos_kdl/src/utilities/*.cxx
include orocos_kinematics_dynamics/orocos_kdl/src/utilities/*.hpp
include orocos_kinematics_dynamics/orocos_kdl/src/utilities/*.h
include orocos_kinematics_dynamics/python_orocos_kdl/PyKDL/*.cpp
include orocos_kinematics_dynamics/python_orocos_kdl/PyKDL/*.h
recursive-include orocos_kinematics_dynamics/python_orocos_kdl/pybind11/include *.h
